<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Noti Shift</string>
	<key>CFBundleExecutable</key>
	<string>NotiShift</string>
	<key>CFBundleIconFile</key>
	<string>NotiShift</string>
	<key>CFBundleIdentifier</key>
	<string>com.fthux.NotiShift</string>
	<key>CFBundleName</key>
	<string>Noti Shift</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAccessibilityUsageDescription</key>
	<string>Noti Shift needs accessibility permission to detect and reposition system notification banners.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 fthux. All rights reserved.</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
</dict>
</plist>
